#filter-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}

#post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: var(--site-width);
  margin: 0 auto;
}
