:host {
  display: block;
  padding-top: 34px;
}

#filter-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0 20px;
}

#post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: var(--site-width);
  margin: 0 auto;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#back-to-top {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 120px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity ease-in-out 0.15s;
}

:host.scrolled {
  #back-to-top {
    opacity: 1;
  }
}

button {
  appearance: none;
  background: #000;
  color: #fff;
  border: 0;
  padding: 8px 12px;
  line-height: 1rem;
  border-radius: 12px;
  cursor: pointer;
}
