@if(post.image) {
<picture>
  <img [src]="post.image" />
</picture>
}

<h3>{{ post.title }}</h3>

<div class="meta">
  @if(post.link) {
  <a [href]="post.link" target="_blank">{{ post.link }}</a>
  } @if(post.tags.length) {
  <div class="tags">
    <span>Tags:&nbsp;</span> @for(tag of post.tags; track tag; let i = $index) { @if(i) {, }
    <span class="tag" (click)="tagSelected.emit(tag)">#{{ tag }}</span>
    }
  </div>
  }
</div>

<ng-container [ngSwitch]="content">
  @if(markdown) {
  <article *ngSwitchCase="'human'" [innerHTML]="markdown"></article>
  <ng-container *ngSwitchCase="'machine'">
    @if(summary) {
    <summary>{{ summary }}</summary>
    } @else {
    <article [innerHTML]="markdown"></article>
    <app-ai failed="true" />
    }
  </ng-container>
  <ng-container *ngSwitchCase="'both'">
    <article [innerHTML]="markdown"></article>
    <app-ai [failed]="!summary">{{ summary }}</app-ai>
  </ng-container>

  } @else {
  <summary *ngSwitchCase="'machine'">{{ summary }}</summary>
  <ng-container *ngSwitchDefault>
    <article [innerHTML]="summary"></article>
    <app-ai />
  </ng-container>
  }
</ng-container>
