/* You can add global styles to this file, and also import other style files */

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

html {
  --site-width: 500px;
  --green: #009736;
  --red: #ee2a35;
}

body {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.2rem;
  background: #f9f9f9;
}

.figtree-400,
h1,
p,
span,
article,
ul {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.uchen-regular,
h2,
h3,
h4 {
  font-family: "Uchen", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}

h1 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 5px;
}

h3 {
  font-size: 1.15rem;
}

ul.unstyled {
  margin: 0;
  list-style: none;
  display: inline;
  padding: 0;
  li {
    display: inline;
    &:after {
      content: " ";
    }
  }
}

a,
.red-color {
  color: var(--red);
}
.red-bg {
  background: var(--red);
}
.green-color {
  color: var(--green);
}
.green-bg {
  background: var(--green);
}

lucide-icon {
  line-height: 0;
}

[data-tooltip] {
  position: relative;
  cursor: help;
}

[data-tooltip]::after {
  position: absolute;
  line-height: 1.2rem;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  left: 0;
  top: calc(100% + 10px);
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
  background-color: white;
  z-index: 100;
  padding: 8px;
  width: 300px;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
}
